* {
    background-color: antiquewhite;
}

.heading {
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
}

img {
    height: 300px;
    width: 300px;
    border: 10px solid black;
}

.body {
    font-family: sans-serif;

}

h2 {
    font-size: 30px;
}

p {
    font-size: large;
}

.process {
    font-family: sans-serif;
    font-size: 20px;
}

#process {
    font-size: 30px;
}